body {
    margin: 0px;
}

ul {
    list-style: none;
}

li {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 150px;
    background-color: #1F2937;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.h-top {
    display: flex;
    justify-content: space-between;
}

.h-bottom {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
}

button {
    width: 100px;
    background-color: #3882f6;
    color: #f9faf8;
}

.header img {
    width: 600px;
    height: auto;
    display: flex;
    flex: 0 1 auto;
    margin-left: 0;
    
}

.img-align {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAf8;
    margin-bottom: 20px;
}

.heading-info,
.links {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.heading-info {
    margin-bottom: 15px;
    width: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.box {
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    display: flex;
}

.all-items {
    display: flex;
    gap: 40px;
    border: 1px dotted red;
    width: 1000px;
    justify-content: center;
    margin-bottom: 80px;
}

.item img {
    width: 200px;
}

.item p {
    max-width: 200px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    margin-top: 40px;
}

.quote-space {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
}

.resident {
    align-self: flex-end;
}