body {
    margin: 0px;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    flex-direction: column;
    border: 1px dotted red;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 150px;
    padding-top: 25px;
}

.links {
    display: flex;
    border: 1px dotted red;
}

.h-top {
    display: flex;
    border: 1px dotted red;
    justify-content: space-between;
}

.h-bottom {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
}

button {
    width: 100px;
}

img {
    width: 600px;
    height: auto;
    display: flex;
    flex: 0 1 auto;
}

.img-align {
    display: flex;
    justify-content: space-between;
}
